<div class="esh-identity">
  <div *ngIf="!authenticated" class="esh-identity-unauthenticate">
    <div class="identity-content-block">
      <button class="btn btn-ghost" href="#" role="button" (click)="login()">
        Đăng nhập
        <fa-icon icon="sign-in-alt"/>
      </button>
    </div>
  </div>
  <ng-container *ngIf="authenticated">
    <section class="esh-identity-section identity-content-block">
      <button class="btn btn-ghost " role="link" [routerLink]="['account/orders']">
        Tài khoản
        <fa-icon icon="user"/>
      </button>
    </section>
    <section class="esh-identity-section">
      <button class="btn btn-ghost" (click)="logout()">
        <fa-icon icon="sign-out-alt"/>
      </button>
    </section>
  </ng-container>
</div>
